<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /AAAA-Eventbrite-Clone/

    # Allow direct access to assets
    RewriteCond %{REQUEST_URI} ^/AAAA-Eventbrite-Clone/app/views/front-office/(css|js|images)/(.*)$ [NC]
    RewriteRule ^ - [L]

    # Redirect everything else to public/
    RewriteCond %{REQUEST_URI} !^/AAAA-Eventbrite-Clone/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
